@import 'variables.scss';

.game-window {
  background-color: $gray;
  padding: 0 $s $s $s ;
  margin-left: 50%;
  transform: translateX(-50%);
  width: -moz-fit-content;
  border-radius: $s;
  .top-bar-hud {
    &.is-hidden { display: none; }
    display: flex;
    justify-content: flex-end;
    padding-top: $s;
    padding-bottom: $xs;
    .icon-close {
      &:hover {
        transform-origin: center;
        transform: rotate(90deg);
      }
      height: $icon-close-size;
      width: $icon-close-size;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: 0.3s;
      > * {
        width: 138%;
        height: 1px;
        background-color: $black;
      }
      .line-left {
        transform-origin: top left;
        transform: rotate(45deg);
      }
      .line-right {
        transform-origin: bottom left;
        transform: rotate(-45deg);
      }
    }
  }
  .main-menu {
    .menu-title {
      text-align: center;
      padding-top: $s;
    }
    .menu-buttons {
      display: flex;
      flex-direction: column;
      > * {
        margin-bottom: $l;
        &:last-child { margin-bottom: 0; }
      }
    }
    .copyright {
      font-style: italic;
      font-size: $s;
    }
  }
  .option-menu {
    .separator {
      display: flex;
      align-items: center;
      padding-left: $xs;
      padding-right: $xs;
      padding-bottom: $m;
      font-style: italic;
      &::before, &::after {
        content: '';
        background-color: $black;
        height: 1px;
        width:100%;
      }
      &::before { margin-right: $s };
      &::after { margin-left: $s };
    }
    .size-line, .difficulty-line {
      display:flex;
      justify-content: space-around;
      margin-bottom: $l;
      > * {
        background-color: #c03b3b;
        margin-right: $s;
        width: $option-button-width;
        height: $option-button-height;
        text-align: center;
        user-select: none;
        -moz-user-select: none;
        border: 1px solid $black;
        &.is-active {
          background-color: $success;
          font-weight: bold;
        }
      }
    }
    .style-line {
      display: flex;
      justify-content: space-around;
      margin-bottom: $l;
      #window-preview {
        pointer-events: none;
        margin-left: $xs;
      }

      .preview-buttons {
        margin-right: -70px;
        #grid-style-flag, #grid-style-tiles {
          height: $option-input-height;
          margin-left: 10%;
          width: $option-input-width;
          font-weight: bold;
          font-size: 14px;
        }
        #grid-style-tiles { margin-bottom: $xl;}
      }
  }
  }
  .minesweeper-hud {
    background-color: $gray;
    height: 150px;
    width: 100%;
    .button-mode {
      padding: $s;
      display: flex;
      > * {
        padding: $s;
        width: 50%;
        display:flex;
        justify-content: center;
        box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(0, 0, 0, 0.8) inset;
        background-color: $default-mode-color;
        cursor:  pointer;
        > img {
          width: $mode-img-size;
          height: $mode-img-size;
        }
        &.is-active { background-color: $active-mode-color; }
      }
      .click-mode { margin-right: $s; }
    }
    .game-data {
      display: flex;
      padding-left: $s;
      padding-right: $s;
      > * {
        background-color: $modules-color;
        height: $modules-height;
        width: 50%;
        text-align: center;
        font-size: $fs-20;
        font-weight: bold;
        box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(0, 0, 0, 0.8) inset;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
      }
      .data-bombs-left {
        &.is-negative { color: $danger; }
        margin-right: $s;
      }
    }
  }
}


.btn {
  font-size: $fs-20;
  font-weight: bold;
  height: $button-height;
  width: 100%;
}

.is-hidden { display: none; }
