//COLORS

$white: white;
$black: black;
$gray: gray;
$success: green;
$danger: red;
$transparent : transparent;
$default-mode-color: aliceblue;
$active-mode-color: lightcoral;
$modules-color: teal;

//SPACERS

$xs:   5px;
$s:     10px;
$m:   15px;
$l:      20px;
$xl:    25px;


//FONT-SIZES

$fs-10: 10px;
$fs-15: 15px;
$fs-20: 20px;
$fs-25: 25px;
$fs-30: 30px;
$fs-35: 35px;
$fs-40: 40px;



//TOP-BAR
$icon-close-size: 22px;

//MINESWEEPER-HUD
$modules-height: 30px;
$mode-img-size: 70px;


//BUTTONS

$button-height: 60px;
$option-button-height: 25px;
$option-button-width: 75px;


//INPUTS

$option-input-height: 35px;
$option-input-width: 112px
